.tab-container {
    width: 65vw;
    margin-left: 10%;
    margin-bottom: 2rem;
}

.tab-panel {
    background-color: transparent;
    height: 2rem;
    width: 5rem;
    border-bottom: none;
    outline: none;
    border-radius: 0.4rem 0.4rem 0 0;
}

.tab-inactive {
    background-color: #e1e1e1;
    opacity: 0.7;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-input {
    width: 5rem;
}
